In [6]:
import numpy as np
import pandas as pd
np.__version__

'1.20.3'

In [7]:
df = pd.read_csv('data.csv')
len(df)

11914

In [17]:
df.Make.value_counts()

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: Make, dtype: int64

In [29]:
df[df['Make'] == 'Audi'].Model.describe()

count     328
unique     34
top        A3
freq       47
Name: Model, dtype: object

In [32]:
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [39]:
df.median()

C:\Users\Ali\AppData\Local\Temp/ipykernel_7292/530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

Year                 2015.0
Engine HP             227.0
Engine Cylinders        6.0
Number of Doors         4.0
highway MPG            26.0
city mpg               18.0
Popularity           1385.0
MSRP                29995.0
dtype: float64

In [51]:
df['Engine Cylinders'].median()

6.0

In [52]:
df['Engine Cylinders'].value_counts()

4.0     4752
6.0     4489
8.0     2031
12.0     230
5.0      225
10.0      68
0.0       56
3.0       30
16.0       3
Name: Engine Cylinders, dtype: int64

In [55]:
df['Engine Cylinders'].fillna(4)
df['Engine Cylinders'].median()

6.0

In [59]:
df_rr = df[df.Make == "Lotus"]
df_rr = df_rr[["Engine HP", "Engine Cylinders"]]
df_rr = df_rr.drop_duplicates()

In [61]:
X = df_rr.values
XTX = X.T.dot(X)

XTX_inv = np.linalg.inv(XTX)

y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

w = XTX_inv.dot(X.T).dot(y)

w[0]

4.594944810094551